<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Voix.Dao.AlbumDao">
	<select id="selectAlbum_map">
	SELECT ALCODE, ALIMG, ALTITLE, ALPRICE, ALSALEPRICE, ALARTIST, TO_CHAR(ALDATE,'YYYY-MM-DD') AS ALDATE, ALINFO, ALGENRE, ALSCORE, ALLIST, ALSITE
	 FROM ALBUMS ORDER BY ALDATE DESC
	</select>
</mapper>